html{
    background: linear-gradient(45deg, #010027, #000000, #010027);
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
    background-attachment: fixed;
    font-family: "Averia Sans Libre", "Rubik", "Verdana";
    scroll-behavior: smooth;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 10px auto;
    background-color:rgba(24, 29, 49, 0.459);
    color : #cccccc ;
    justify-items: center;
    align-items: center;
    background: #5e5e5e4e;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.blog-inp-syl{
    border-radius: 10px;
    padding: 10px;
    background-color: #232323;
    color: rgb(184, 184, 184);
    border:2px solid saddlebrown;
    max-width: 80%;
    font-family: "Rubik";

}

#blog-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
    width: 80%;
}
#blog-form button{
    width: 12%;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    background-color: #dedede;
    border: none;
    color: rgb(57, 57, 57);
}

#btn-blog{
    display: flex;
    gap:10px;
    margin-top: 5px;
}

#status{
    position:relative;
    border: 2px solid rgb(0, 134, 149);
    border-radius: 50%;
    border-top: #3498db;
    width: 30px;
    height: 30px;
    margin: 20px auto;
    -webkit-animation: spin 0.7s linear infinite; 
    animation: spin 0.7s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
